html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", sans-serif;
    -moz-user-select: none;
}

#Export{
    position: fixed;
    background-color: #C4C4C4;
    width: 100px;
    height: 35px;
    z-index: 1000;
    margin: 10px;
    text-align: center;
    line-height: 35px;
}
#Export:hover{
    background-color: rgb(131, 131, 131);
}

#gridParent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: auto 350px;
}

main{
    background-color: #4F4F4F;
    width: 100%;
    height: 100%;
}

aside{
    background-color: #616161;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto 50px;
}

#CompTitle{
    width: 90%;
    height: 100%;
    
    margin-left: 5%;
    margin-top: 5%;

    color: rgb(238, 238, 238);
    text-align: center;
    font-size: 2.8em;
}

#ComponentControls{
    background-color: #3b3b3b;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% auto;
}

#ComponentControls select{
    width: 100%;
    height: 50%;
    margin-top: 12px;
    margin-left: 10px;
    
    background-color: #C4C4C4;
    border: none;
}

#addComponentButton {
    width: 50%;
    height: 41%;
    margin-top: 12px;
    margin-left: 30%;

    padding-top: 3%;
    text-align: center;

    background-color: #C4C4C4;
}

#addComponentButton:hover {
    background-color: rgb(156, 156, 156);
}

#addComponentButton:hover {
    background-color: rgb(156, 156, 156);
}

#Component{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #828282;
    display: grid;
    grid-template-rows: 40px auto;
}

#Component #title{
    background-color: #828282;

    text-align: center;
    font-size: 2em;
    color: #282828;
    border-bottom: solid rgb(88, 88, 88) 2px;
}

#Component #body{
    background-color: #828282;
}

#Component #paramParent{

    list-style-type: none;
    margin: 0;

    line-height: 25px;

    font-size: 1.2em;
    color: #2B2B2B;
    padding: 3% 0 5% 5%;
}


input{
    background-color: #626262;
    border: none;
    outline: 1px #4C4C4C solid;
    
    stroke: none;
}


#vec3{
    display: grid;
    grid-template-columns: auto 170px;
}

#vec3 #Inputs{
    padding: 0;
}

#vec3 #Inputs li{
    display: inline;
    font-size: 15px;
}

#vec3 #Inputs input{
    width: 35px;
}

#float{
    display: grid;
    grid-template-columns: auto 170px;
}

#float #Inputs input{
    width: 157px;
}